// Theme colors
$mainColor: rgb(20, 98, 170);
$secondaryColor: rgb(13, 135, 192);;
$backgroundColor: #eeeeee;

// Text colors
$textColor: #FFFFFF;
$disabledTextColor: #646569;

// Backdrop colors
$backdropColorLight: #00000078;
$backdropColorDark: #000000ab;

//Snackbar colors
$errorColor: #b70b0b;

// Image colors
$avatarBackgroundColor: #566271;

// Working places status colors
$available-color: #ffffff;
$half-day-booked-color: #D6A93E;
$full-day-booked-color: #e17d58;
$permanently-booked-color: #66727f;

// OTHER COLORS
$gold-color: #FCB415;
$light-grey-color: #707070;
