<button mat-button class="back-button" (click)="close()">
    <span class="material-icons">
        arrow_back
    </span>
    Password change
</button>
<div class="password-container">
    <form [formGroup]="passwordForm" class="password-form">
        <div class="row-field">
            <mat-form-field class="example-full-width">
                <mat-label class="text-uppercase">
                    old password
                </mat-label>
                <input matInput formControlName="oldPassword" />
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="text-uppercase">
                    new password
                </mat-label>
                <input matInput formControlName="newPassword" />
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="text-uppercase">
                    confirm password
                </mat-label>
                <input matInput formControlName="confirmPassword" />
            </mat-form-field>
        </div>

        <div class="change-password-button">
            <button class="btn text-uppercase" mat-button (click)="changePassword()">
                save changes
            </button>
        </div>
    </form>
</div>